In [16]:
import pandas as pd
import numpy as np

s1 = pd.Series(np.arange(4),index=['A','B','C','D'])
s2 = pd.Series(np.arange(6,11),index=['A','B','C','D','E'])

In [17]:
s1,s2

(A    0
 B    1
 C    2
 D    3
 dtype: int32,
 A     6
 B     7
 C     8
 D     9
 E    10
 dtype: int32)

In [18]:
s1+s2

A     6.0
B     8.0
C    10.0
D    12.0
E     NaN
dtype: float64

In [20]:
s1-s2

A   -6.0
B   -6.0
C   -6.0
D   -6.0
E    NaN
dtype: float64

In [24]:
df1= pd.DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['One','Two','Three'])
df2= pd.DataFrame(np.arange(9).reshape(3,3),index=['A','B','D'],columns=['One','Two','Three'])
df1+df2

   One  Two  Three
A  0.0  2.0    4.0
B  6.0  8.0   10.0
C  NaN  NaN    NaN
D  NaN  NaN    NaN

In [25]:
#Replace NaN with 0

df1.add(df2,fill_value=0)

   One  Two  Three
A  0.0  2.0    4.0
B  6.0  8.0   10.0
C  6.0  7.0    8.0
D  6.0  7.0    8.0

In [26]:
1/df1

        One       Two  Three
A       inf  1.000000  0.500
B  0.333333  0.250000  0.200
C  0.166667  0.142857  0.125

In [27]:
'''
Substriction - sub()
Divide - div()
Pow.. - pow()
Multiplication - mul()
'''

'\nSubstriction - sub()\nDivide - div()\nPow.. - pow()\nMultiplication - mul()\n'

In [34]:
#Functions applying

df3 = pd.DataFrame(np.random.randn(4,3),columns= list('ABC'),index = ['Elmir',"Orxan",'Abidin','Elnur'])
df3

               A         B         C
Elmir  -1.284199  0.534088 -2.716591
Orxan  -1.582902  0.191439  0.094677
Abidin  0.721838 -1.470209  0.776630
Elnur  -1.917429 -0.030824 -0.057056

In [35]:
np.abs(df3)  #Absolute

               A         B         C
Elmir   1.284199  0.534088  2.716591
Orxan   1.582902  0.191439  0.094677
Abidin  0.721838  1.470209  0.776630
Elnur   1.917429  0.030824  0.057056

In [37]:
# Use apply() method
lf = lambda x:x.max() - x.min()
df3.apply(lf)

A    2.639267
B    2.004298
C    3.493221
dtype: float64

In [39]:
df3.apply(lf,axis=1)

Elmir     3.250679
Orxan     1.774341
Abidin    2.246839
Elnur     1.886605
dtype: float64

In [43]:
#Apply custom function

def f(x):
    return (x*0)

df3.apply(f)

          A    B    C
Elmir  -0.0  0.0 -0.0
Orxan  -0.0  0.0  0.0
Abidin  0.0 -0.0  0.0
Elnur  -0.0 -0.0 -0.0