In [3]:
import pandas as pd

In [9]:
#Data cleaning

data = pd.DataFrame({'A':['Bir','Iki','uc']*3,'B':[1,2,3,41,2,4,2,1,3]})
data.duplicated()
data.drop_duplicates()#<--- for remove

     A   B
0  Bir   1
1  Iki   2
2   uc   3
3  Bir  41
5   uc   4
6  Bir   2
7  Iki   1

In [14]:
data.duplicated(['A']) # A sutununda tekrar eden deyerleri gosterir
data.duplicated(['A','B']) #Hem A hemde b sutununda tekrar eden deyerleri gosterir

data.duplicated(['A','B'],keep='last') #Sondan baslayaraq tekrar eden deyerleri tapir

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [21]:
#--  MAPPING --

df = pd.DataFrame({'Adlar':['Elmir','orxan','abidin'],'Bal':[80,76,90]})
ad=df['Adlar'].str.capitalize()
sinif = {'Elmir':'B','Orxan':'C','Abidin':'A'}
df['Siniflendirme'] = ad.map(sinif)
df

    Adlar  Bal Siniflendirme
0   Elmir   80             B
1   orxan   76             C
2  abidin   90             A

In [23]:
# Replacing

import numpy as np

nt = pd.Series([80,91,23,54])
nt.replace([70,np.nan])
nt.replace([80,91],[np.nan,np.nan])

C:\Users\Elmir Quliyev\AppData\Local\Temp\ipykernel_2004\2591424618.py:6: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  nt.replace([70,np.nan])

0     NaN
1     NaN
2    23.0
3    54.0
dtype: float64

In [30]:
#Row and column naming
df.index = [0,1,2]
s = pd.Series(['Bir','Iki','Uch'])
df.index = df.index.map(s)
df

      Adlar  Bal Siniflendirme
Bir   Elmir   80             B
Iki   orxan   76             C
Uch  abidin   90             A

In [32]:
# Using rename method
df.rename(index = str.title,columns=str.upper)

      ADLAR  BAL SINIFLENDIRME
Bir   Elmir   80             B
Iki   orxan   76             C
Uch  abidin   90             A

In [33]:
df.rename(index = {'Bir':'One','Iki':'Two'}) #Renaming with dict

      Adlar  Bal Siniflendirme
One   Elmir   80             B
Two   orxan   76             C
Uch  abidin   90             A