In [1]:
import pandas as pd;import numpy as np

In [9]:
df= pd.DataFrame([[6,np.nan,4],[76,23,np.nan],[56,17,92]],index=list('ABC'),columns=['One','Two','Three'])
df

   One   Two  Three
A    6   NaN    4.0
B   76  23.0    NaN
C   56  17.0   92.0

In [12]:
df.sum(axis=1,skipna=False)

A      NaN
B      NaN
C    165.0
dtype: float64

In [18]:
df.describe()
df.idxmax()

One      B
Two      B
Three    C
dtype: object

In [19]:
#Cumulative
df.cumsum()

   One   Two  Three
A    6   NaN    4.0
B   82  23.0    NaN
C  138  40.0   96.0

In [37]:
iris = pd.read_csv('iris.data.csv')
iris.head()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni,Turu
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa

In [35]:
#Correlation coefficient

In [38]:
iris['Canak_yaprak_boyu'].corr(iris['Tac_yaprak_eni'])

0.8179536333691636

In [50]:
iris[['Canak_yaprak_boyu', 'Canak_yaprak_eni', 'Tac_yaprak_boyu', 'Tac_yaprak_eni']].corr()

,Canak_yaprak_boyu,Canak_yaprak_eni,Tac_yaprak_boyu,Tac_yaprak_eni
Canak_yaprak_boyu,1.000000,-0.109369,0.871754,0.817954
Canak_yaprak_eni,-0.109369,1.000000,-0.420516,-0.356544
Tac_yaprak_boyu,0.871754,-0.420516,1.000000,0.962757
Tac_yaprak_eni,0.817954,-0.356544,0.962757,1.000000

In [55]:
#Check with if 'isin' method

s = pd.Series(list('ABBBCCCDDDE'))
s

0     A
1     B
2     B
3     B
4     C
5     C
6     C
7     D
8     D
9     D
10    E
dtype: object

In [60]:
x =s.isin(list("BC"))
x

0     False
1      True
2      True
3      True
4      True
5      True
6      True
7     False
8     False
9     False
10    False
dtype: bool

In [61]:
s[x]

1    B
2    B
3    B
4    C
5    C
6    C
dtype: object

In [57]:
s.value_counts()

B    3
C    3
D    3
A    1
E    1
Name: count, dtype: int64